<!---
<ag-grid-angular 
    style="width: 500px; height: 200px;" 
    class="ag-theme-alpine"
    [rowData]="rowData" 
    [columnDefs]="columnDefs">
</ag-grid-angular>
-->
<div class="center">
    <h1>{{team.team.name}} <img style="max-width: 40px;" src="{{team.team.logo}}"></h1>
    <h2>{{team.league.name}} </h2>

</div>
<div>
    <mat-tab-group class="center" mat-align-tabs="center" backgroundColor="accent">
        <mat-tab label="Overview">
            <h2>Form: {{team.form}}</h2>
        </mat-tab>
        <mat-tab label="Squad">
            <h2>Team players!</h2>
        </mat-tab>
        <mat-tab label="Stats">
            In depth stats
        </mat-tab>
        <mat-tab label="Fixtures">
            <h3 class="center" >Games Played: {{team.fixtures.played.total}}</h3>
            Draws: Away({{team.fixtures.draws.away}}), Home({{team.fixtures.draws.home}})
            <br>
            Wins: Away({{team.fixtures.wins.away}}), Away({{team.fixtures.wins.away}})
            <br>
            Losses: Away({{team.fixtures.loses.away | json}}), Away({{team.fixtures.loses.away | json}}),
        </mat-tab>
    </mat-tab-group>
</div>