<!---
<ag-grid-angular 
    style="width: 500px; height: 200px;" 
    class="ag-theme-alpine"
    [rowData]="rowData" 
    [columnDefs]="columnDefs">
</ag-grid-angular>
-->
<div class="center">
    <h1>{{team | json}}</h1>
    <h1>{{team.team_name}} <img style="max-width: 40px;" src="{{team.team_logo}}"></h1>
    <h2>{{team.form}} </h2>

</div>
<div>
    <mat-tab-group class="center" mat-align-tabs="center" backgroundColor="accent">
        <mat-tab label="Overview">
            <h2>Form: {{team.form}}</h2>
        </mat-tab>
        <mat-tab label="Squad">
            <h2>Team players!</h2>
        </mat-tab>
        <mat-tab label="Stats">
            In depth stats
        </mat-tab>
        <mat-tab label="Fixtures">
        </mat-tab>
    </mat-tab-group>
</div>