<header class="primary-header" id="primaryHeader">
  <div class="container">
    <div class="nav-wrapper">
      <a class="logo">AI Project</a>
      <button class="mobile-nav-toggle" (click)="mobileNavClick()" *ngIf="mobile_size">
        <mat-icon *ngIf="!menu_open" class="icon-menu">menu</mat-icon>
        <mat-icon *ngIf="menu_open" class="icon-close">close</mat-icon>
      </button>
      <nav class="primary-navigation" *ngIf="menu_open || !mobile_size">
        <ul class="nav-list" role="list">
          <li><a href="/standings" (click)="mobileNavClick()">Standings</a></li>
          <li><a href="/predict" (click)="mobileNavClick()">Predict</a></li>
          <li><a href="/home" (click)="mobileNavClick()">About Me</a></li>
          <li><a href="#" (click)="mobileNavClick()">Create</a></li>
          <li><a href="#" (click)="mobileNavClick()">Community</a></li>
        </ul>
      </nav>
      <button class="button" *ngIf="width>880">Get Started</button>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>