<section>
    <div class="container">
        <div class="predict-header">
            <h1 class="fs-secondary-heading fw-bold">
                Predict Central
            </h1>
            <p> Here you can mess with settings and see what you can predict</p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="even-columns">
            <div class="algo-choose">
                <h3>Choose an algorithm</h3>
                <ul class="algos">
                    <li *ngFor="let algo of algos" class="algo-choice">
                        <button class="algo-button" [class.selected]="algo === selectedAlgo" type="button" (click)="onSelect(algo)">
                           <span class="viewValue">{{algo.viewValue}}</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="settings">
                <div class="slidecontainer">
                    <h3> Epochs </h3>
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
                <div class="slidecontainer">
                    <h3> Batch Size</h3>
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
                <div class="slidecontainer">
                    <h3> eta </h3>
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="predicted-header"></div>
        <div class="predicted-games"></div>
    </div>
</section>