.predict-header {
    text-align: center;
    border: 3px solid black;
}

.algo-choose {
    margin-top: 1rem;
}

.algo-choice {
    margin-top: 0.5rem;
}

.algos {
    list-style-type: none;
}

.algo-button {
    width: 100%;
    border-radius: 50px;
}

.settings {
    margin-top: 1rem;
}

.viewValue {
}
