<section>
    <div class="container">
      <div class="even-columns">
        <div class="flow">
          <h1 class="fs-secondary-heading fw-bold">A.I. Simplified</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Amet consectetur adipiscing elit ut aliquam purus sit amet luctus. Quis viverra nibh
            cras pulvinar mattis nunc sed blandit libero. Ipsum consequat nisl vel pretium lectus quam id. Morbi
            tincidunt ornare massa eget egestas purus viverra accumsan. Vel risus commodo viverra maecenas. Pulvinar
            neque laoreet suspendisse interdum. Sed enim ut sem viverra aliquet. Pharetra convallis posuere morbi leo
            urna molestie at elementum eu. Et netus et malesuada fames ac. Ac placerat vestibulum lectus mauris ultrices
            eros in. Cursus vitae congue mauris rhoncus aenean. Massa tincidunt dui ut ornare. Sociis natoque penatibus
            et magnis dis parturient. Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla. Euismod
            quis viverra nibh cras pulvinar mattis. Purus non enim praesent elementum facilisis leo vel fringilla est.
            Arcu cursus vitae congue mauris rhoncus aenean vel.
          </p>
          <button class="button">Get Started</button>
        </div>
      </div>
    </div>
  </section>
  <section class="padding-block-900">
    <div class="container">
      <div class="even-columns">
        <div class="flow">
          <h2 class="fs-secondary-heading fw-bold">What's the point here?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Purus in mollis nunc sed. Turpis cursus in hac habitasse platea dictumst quisque.
            Pellentesque nec nam aliquam sem. Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Mi
            eget mauris pharetra et. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Egestas
            fringilla phasellus faucibus scelerisque eleifend donec pretium. Nulla facilisi morbi tempus iaculis urna
            id. Bibendum enim facilisis gravida neque. Urna id volutpat lacus laoreet non curabitur gravida arcu.</p>
        </div>
        <div class="flow">
          <ul class="numbered-items | flow" role="list">
            <li class="flow">
              <h3 class="fs-600 fw-bold">Create your own model</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel.</p>
            </li>
            <li class="flow">
              <h3 class="fs-600 fw-bold">Test premade models</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel.</p>
            </li>
            <li class="flow">
              <h3 class="fs-600 fw-bold">Compete against friends</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="cta | padding-block-700 bg-accent-400 text-neutral-100">
    <div class="container">
      <div class="even-columns">
        <div>
          <p class="fs-secondary-heading fw-bold">Test it out today.</p>
        </div>
        <div>
          <button class="button" data-type="inverted">Get Started</button>
        </div>
      </div>
    </div>
  </section>