<div>
    <h2 class="welcome-message">Welcome!</h2>
    <h3 class="about"> You can take a look at some premier league stats, or try and predict a premier league game. Also
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Tincidunt arcu non sodales neque sodales ut etiam sit. Cras pulvinar mattis nunc sed blandit
        libero volutpat. Condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Sed faucibus turpis
        in eu mi bibendum. Consectetur a erat nam at lectus. Cursus sit amet dictum sit amet justo donec enim diam. Ac
        orci phasellus egestas tellus. Mollis aliquam ut porttitor leo a. Et odio pellentesque diam volutpat. Donec
        pretium vulputate sapien nec sagittis. Maecenas pharetra convallis posuere morbi leo urna molestie. Ut sem nulla
        pharetra diam sit amet nisl suscipit adipiscing. Eu turpis egestas pretium aenean. Quis ipsum suspendisse
        ultrices gravida dictum fusce ut placerat orci. In pellentesque massa placerat duis ultricies lacus sed. Cursus
        vitae congue mauris rhoncus aenean vel elit. Quis hendrerit dolor magna eget est lorem ipsum dolor sit.

        Est ultricies integer quis auctor elit sed vulputate. Enim nulla aliquet porttitor lacus luctus accumsan.
        Pulvinar mattis nunc sed blandit libero. Ut eu sem integer vitae justo eget magna fermentum iaculis. Vitae proin
        sagittis nisl rhoncus mattis rhoncus urna neque. Cursus turpis massa tincidunt dui. Ac turpis egestas sed tempus
        urna. Nulla malesuada pellentesque elit eget gravida cum sociis. Quis hendrerit dolor magna eget. Enim tortor at
        auctor urna nunc. Elit sed vulputate mi sit. Laoreet suspendisse interdum consectetur libero id faucibus nisl.
        Ultrices in iaculis nunc sed augue lacus viverra. Duis tristique sollicitudin nibh sit amet commodo nulla.
        Tempus iaculis urna id volutpat lacus laoreet. Mauris in aliquam sem fringilla ut morbi. Adipiscing diam donec
        adipiscing tristique risus nec feugiat. Lorem ipsum dolor sit amet. Aliquam faucibus purus in massa tempor.

        At lectus urna duis convallis convallis tellus. Eu volutpat odio facilisis mauris sit amet massa vitae tortor.
        Mattis aliquam faucibus purus in massa tempor nec feugiat. Dui faucibus in ornare quam. Sed libero enim sed
        faucibus turpis. Risus ultricies tristique nulla aliquet enim tortor at. Arcu vitae elementum curabitur vitae
        nunc. Quis enim lobortis scelerisque fermentum dui. Sapien et ligula ullamcorper malesuada. Laoreet suspendisse
        interdum consectetur libero id. Aliquam purus sit amet luctus venenatis lectus magna fringilla. Bibendum arcu
        vitae elementum curabitur vitae nunc. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat. Phasellus
        egestas tellus rutrum tellus pellentesque. Fusce id velit ut tortor pretium viverra. Habitant morbi tristique
        senectus et netus.

        Blandit aliquam etiam erat velit scelerisque in dictum. Magna fermentum iaculis eu non diam phasellus. Duis at
        consectetur lorem donec massa sapien faucibus et molestie. Fames ac turpis egestas sed tempus urna. Non tellus
        orci ac auctor augue mauris augue neque gravida. Fermentum et sollicitudin ac orci phasellus. Nunc sed velit
        dignissim sodales ut eu sem. Vitae auctor eu augue ut lectus. Accumsan tortor posuere ac ut consequat semper
        viverra nam. Turpis egestas integer eget aliquet nibh. Neque volutpat ac tincidunt vitae semper quis lectus
        nulla at. Est velit egestas dui id ornare arcu odio ut sem.

        Quam quisque id diam vel quam. Placerat orci nulla pellentesque dignissim enim sit amet. Eget arcu dictum varius
        duis at consectetur lorem. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Odio pellentesque diam
        volutpat commodo sed egestas egestas. Lacus sed viverra tellus in hac habitasse platea. Integer eget aliquet
        nibh praesent tristique. Pharetra vel turpis nunc eget lorem dolor. Nulla aliquet enim tortor at auctor urna.
        Lectus urna duis convallis convallis tellus id interdum. Non sodales neque sodales ut etiam. Faucibus interdum
        posuere lorem ipsum dolor. Tellus in metus vulputate eu scelerisque felis. Iaculis at erat pellentesque
        adipiscing commodo elit at imperdiet dui. Vitae auctor eu augue ut lectus arcu bibendum at. Integer enim neque
        volutpat ac tincidunt vitae semper. Consectetur a erat nam at lectus urna. Leo in vitae turpis massa sed
        elementum. Dignissim convallis aenean et tortor at risus viverra adipiscing at. Nunc sed velit dignissim sodales
        ut eu sem.</h3>
    <div class="button-list">
        <button mat-flat-button color="accent">Machine Learning</button>
        <button mat-raised-button color="accent">Premier League Standings</button>
        <button mat-raised-button color="accent">Team List</button>
        <button mat-flat-button color="accent">Player List</button>
    </div>

</div>