<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
  <!-- Position Column -->
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by position"> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedTeam ? 'expanded' : 'collapsed'">
        <div>
          <ag-charts-angular [options]="options">
          </ag-charts-angular>
        </div>
        <div><a mat-raised-button color="primary" routerLink="/team/{{element.Squad}}">Team Page</a></div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedTeam === element"
    (click)="expandedTeam = expandedTeam === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>